.box{
    height: 100px;
    width: 100px;
    border: 1px solid sandybrown;
    padding: 10px;
    margin: 10px;
}
#box-1{
    background-color: aqua;
    
}
#box-2{
    background-color:slateblue;
    visibility: hidden;
}
#box-3{
    background-color: rgb(120, 7, 80);
    
}
#box-4{
    background-color: rgb(142, 23, 23);
    visibility: collapse;
}
#box-5{
    background-color: blue;
    
    
}
#box-6{
    background-color: rgb(128, 180, 24);
    display: none;
}
#box-7{
    background-color: red;
    
}
